.small_container {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.nav {
  background-color: aqua;
  height: calc(100vh - 140px);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root{
    height: calc(100vh - 140px);
    background-color:aquamarine;
    width: calc(100vw - 300px);
}
