td {
    border:   white;
  }
  th {
    border:   black;
  }
  .rouge{
    background-color: red;
    color: white;
  }
  .orange{
      background-color: orange;
  }
  .jaune{
      background-color: yellow;
  }